/* 공통부분 */
html{
    font-size: 100%;
}
body{
    font-family: "나눔고딕", NanumGothic, "맑은고딕",MalgunGothic,"Apple SD Gothic Neo", sans-serif;
    line-height: 1.7;
    color: brown;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}