b{
    color: red;
}
#span-title{
    color: aliceblue;
    padding: 10px;
    background-color: black;
}
#web-div{
    color: blue;
    font-size: x-large;
    margin-top: 40px;
    margin-left: 30px;


}
